<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Add Posts</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="assets/css/login-form.css">
</head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="">
        <div id="" class="navbar-header">
          <span style="font-size:30px;color:#fff;cursor:pointer;" onclick="openNav()">&#9776;</span>
        </div>
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown"><a class="dropdown-toggle" style="color:#fff;" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/profile">Your Profile</a></li>
              <li><a href="/change-password">Change Password</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <!-- SIDE-BAR -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a style="color:#fff;font-size:23px;" href="/">Home</a>

      <a style="color:#fff;font-size:23px;" href="/dashboard">Dashboard</a>

      <div class="dropdown">
        <p class="dropbtn">Posts</p>
        <div class="dropdown-content">
          <a href="/blogs">All Posts</a>
          <a href="">Add New</a>
        </div>
      </div><br>

      <div class="dropdown">
        <p class="dropbtn">Users</p>
        <div class="dropdown-content">
          <a href="/all-users">All Users</a>
          <a href="/add-new-user8345">Add New</a>
          <a href="/profile">Your Profile</a>
        </div>
      </div>

      <a style="color:#fff;font-size:23px;" href="/comments">Comments</a>

    </div>
    <!-- END OF SIDE-BAR -->

  >

    <script>
    var expanded = false;

    function showCheckboxes() {
      var checkboxes = document.getElementById("checkboxes");
      if (!expanded) {
        checkboxes.style.display = "block";
        expanded = true;
      } else {
        checkboxes.style.display = "none";
        expanded = false;
      }
    }
    </script>

    <script>
      function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
      }

      function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
      }
    </script>

    <script type="text/javascript">
			function checkbox(){

            var checkboxes = document.getElementsByName('categories');
            var checkboxesChecked = [];
            // loop over them all
            for (var i=0; i<checkboxes.length; i++) {
               // And stick the checked ones onto an array...
               if (checkboxes[i].checked) {
                  checkboxesChecked.push(checkboxes[i].value);
               }
            }
            document.getElementById("show").value = checkboxesChecked;

          }
		</script>

  </body>
</html>
